@font-face{
	font-family: Open Sans;
	src:url(../fonts/OpenSans-Bold.ttf);
	font-style: bold;
}

@font-face{
	font-family: Open Sans;
	src:url(../fonts/OpenSans-Italic.ttf);
	font-style: italic;
}

@font-face{
	font-family: Open Sans;
	src:url(../fonts/OpenSans-Light.ttf);
	font-style: lighter;
}

@font-face{
	font-family: Open Sans;
	src:url(../fonts/OpenSans-Regular.ttf);
	font-style: regular;
}

*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

.section-container{
	min-height:100vh;
	background:#242438;
	position: relative;
}


.section-container:after{
	content:"";
	width:30%;
	height:1px;
	position: absolute;
	bottom:0;
	left:50%;

	margin-left:-15%;
	background:#bdc3c7;
}

.section-container:last-of-type:after{
	display: none;
}

.section-presentation{
	text-align: center;

	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.next-section{
	position:absolute;

	left:50%;
	margin-left:-10px;

	width:0;
	height:0;

	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top:20px solid #0ba191;

	animation-name:animation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

@keyframes animation{
	0%{
		position:absolute;
		bottom:60px;
	}

	50%{
		position:absolute;
		bottom:55px;
	}

	100%{
		position:absolute;
		bottom:60px;
	}
}

.highlight-bigger{
	display:inline-block;
	padding:25px;
	margin-top:-40px;
	margin-bottom:40px;
	font-size:45px;
	border:1px solid #0ba191;
}

.highlight{
	font-weight: bold;
	color:#0ba191;
}

.highlight-small{
	padding:5px;
}

.presentation{
	width:60%;
	margin-bottom:30px;
	color:#fff;
}

.presentation p{
	line-height: 30px;
}

nav{
	display: flex;
	justify-content: space-between;
}

nav ul{
	list-style: none;
}

nav li{
	display: inline-block;
	border:1px solid #0ba191;
	margin:5px;
	font-style: regular;
}

nav a{
	color:#0ba191;
	display: block;
	padding:5px;
	text-decoration:none;
}

nav li , nav a{
	transition:0.2s all;
}

nav li:hover{
	border-color:white;
}

nav li:hover a{
	color:#fff;
}

.email-text{
	font-size:20px;
	margin:15px 0;
	opacity: 0;
	font-weight: lighter;
	transition:0.2s opacity, 0.5s margin;

}
.show_email{
	opacity: 1;
	transition: 0.3s;
}
.title-section , .title-sub-section{
	text-align: left;
	color:#0ba191;
	position:relative;
}

.title-section{
	padding:60px 120px 20px;
	font-size:35px;
}

.title-sub-section{
	font-size:18px;
	font-weight: bold;
	text-transform: uppercase;
}

.title-section:before, .title-sub-section:before{
	content:" ";
	display: inline-block;
	position:relative;
	background:#0ba191;
	width:7px;
}

.title-section:before{
	height:28px;
	top:1px;
	right:10px;
}

.title-sub-section:before{
	height:20px;
	top:3px;
	right:6px;
}

.type-skill{
	text-align: left;
}

.container-skill{
	display: inline-block;
	margin:10px 10px 5px;
	padding: 10px;
	width:500px;
	min-height:180px;
	overflow:auto;
	/*border:1px solid #ccc;*/
}

.container-skill:first-child{
	margin-top:20px;
}

.container-skill:nth-child(2n+1){
	margin-left:105px;
	margin-right:30px;
	/*background:black;*/
}

.skills{
	list-style: none;
	text-align: left;
	margin-top:20px;
}

.skill{
	color:#fff;
	margin:10px;
	display: inline-block;
	padding:10px;
	border:1px solid #fff;
	transition: 0.3s all;
}

.skill:hover{
	color:#0ba191;
	border-color:#0ba191;
	cursor:pointer;
}

.job-list{
	list-style: none;
	width:82%;
	height:auto;
	text-align: left;
	margin:20px auto 0;
}

.item-job{
	display: inline-block;
	width:215px;
	height:160px;
	border:1px solid #fff;
	margin:20px 12px;
	position:relative;
	overflow:hidden;
}

.overlay-job {
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(11,161,145,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor:pointer;
}

.overlay-job-1 {
	top: -100%;
	left: 0;
}

.overlay-job-2 {
	top: 0;
	left: -100%;
}

.overlay-job-3 {
	top: 0;
	left: 100%;
}

.overlay-job-4 {
	top: 100%;
	left: 0;
}

.overlay-job:after{
	content:"+";
	font-size:60px;
	color:#fff;
}

/*
.item-job:hover .overlay-job{
	left:0;
}
*/

.getpos {
	/*
	background-color: #ff9900; */
	position: absolute;
}

.getpos-top {
	width: 100%;
	height: 10%;
	top: 0;
	border-radius: 0 0 100% 100%;
}

.getpos-left {
	width: 10%;
	height: 100%;
	left: 0;
	border-radius: 0 100% 100% 0;
}

.getpos-right {
	width: 10%;
	height: 100%;
	right: 0;
	border-radius: 100% 0 0 100% ;
}

.getpos-bottom {
	width: 100%;
	height: 10%;
	bottom: 0;
	border-radius:100% 100% 0 0;
}

@media screen and (max-width:360px){

	.title-section{
		padding:15px 10px;
	}

	.container-skill,.container-skill:nth-child(2n+1){
		width:100%;
		margin:10px 0;
	}

	.container-skill:last-child{
		display: none;
	}
}

.item-job:last-child{
	text-align: center;
	border:none;
}

.eye{
	display: inline-block;
	width:40px;
	height:55px;
	background:white;
	border-radius:50%;
	margin:20px 3px 15px;

	text-align:right;
	overflow:hidden;
	position:relative;
}

.eye-into{
	background:black;
	display: block;
	width:20px;
	height:30px;
	border-radius:50%;
	position:absolute;

	animation-name: animation-eye-into;
	animation-iteration-count: infinite;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes animation-eye-into{
	0%{
		position:absolute;
		bottom:0;
		right:-2px;
	}

	100%{
		position:absolute;
		bottom:25px;
		right: -2px;
	}
}

.item-job:last-child .message{
	font-size: 17px; 
	display: block;
	color:#0ba191;
	font-weight: bold;
	position: relative;
}

.item-job:last-child .message:after{
	content:"";
	position:absolute;
	left:50%;
	bottom:-10px;
	margin-left:-20px;
	width:40px;
	height:2px;
	background:#0ba191;
}
